<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Liste des clients</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<script src="https://kit.fontawesome.com/faf1b41247.js" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/StyleSheet.css}">
</head>
<body>
<div class="container is-max-desktop"  th:switch="${customers}">
<div class="columns">
	<div class="column centering">
		<img alt="Logo" class="image" width="50%" th:src="@{/img/logo_proxiBanqueSI.png}">
	</div>
</div>
    <h2 th:case="null">No persons yet!</h2>
        <div th:case="*">
            <h2 class="title"  >Nos Conseillers</h2>
            <div class="centering">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Telephone</th>
                        <th>Adresse</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.prenom}"></td>
                    <td th:text="${customer.nom}"></td>
                    <td th:text="${customer.numTel}"></td>
                    <td th:text="${customer.adresse.numEtRue}+ ' ' + ${customer.adresse.codePostal} + ' '+ ${customer.adresse.ville}"></td>
                    <td><a th:href="@{/customersWeb/{id}(id=${customer.id})}">
                    	<span class="icon">
  							<i class="fa-solid fa-eye"></i>
						</span></a>
						<a th:href="@{/customersWeb/delete/{id}(id=${customer.id})}">
						<span class="icon">
  							<i class="fa-solid fa-xmark"></i>
						</span></a>
					</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>  
    <br>    
    <div class="columns">
	    <p class="column centering">
	    	<a class="button buttonajust is-link " href="/customersWeb/addClient">
				</span>Ajouter un client
			</a>
			<a class="button buttonajust is-info" href="/">
	    		Retour
			</a>
		</p>
	</div>
    <br>
</body>
</html>