<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Liste des conseillers</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<script src="https://kit.fontawesome.com/faf1b41247.js" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/StyleSheet.css}">
</head>
<body>
	<div class="container is-max-desktop"  th:switch="${conseillers}">
		<div class="columns">
			<div class="column centering ">
				<img alt="Logo" class="image" width="50%" th:src="@{/img/logo_proxiBanqueSI.png}">
			</div>
		</div>
    	<h2 th:case="null">No persons yet!</h2>
	    <div th:case="*">
	            <h2 class="title"  >Nos Conseillers</h2>
	            <div class="centering">
	            <table class="table">
	                <thead>
	                    <tr>
	                        <th>Nom</th>
	                        <th>Prénom</th>
	                    </tr>
	                </thead>
	                <tbody>
		                <tr th:each="conseiller : ${conseillers}">
		                    <td th:text="${conseiller.personne.prenom}"></td>
		                    <td th:text="${conseiller.personne.nom}"></td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
        </div>
        <div class="columns">
		    <p class="column centering">
				<a class="button buttonajust is-info" href="/">
		    		Retour
				</a>
			</p>
		</div>
	</div>
</body>
</html>